html{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: silver;
    font-family: 'Times New Roman', Times, serif;
}

.cartao{
    box-shadow: 1px 1px 5px #cccccc;
    background-color: darkgreen;
    padding: 30px;
    border-radius: 5px;
}

.form{
    width: 400px;
    margin: auto;
    padding-top: 40px;
}

.cartaotopo{
    text-align: center;
    
}

.imglogin{
    border-radius: 50px;
    width: 100px;
}

.red{
    color: red;
}

.label{
    
    display: block;
    width: 100%;
}

.input{
    width: 100%;
    border-radius: 5px;
    height: 30px;
    outline: 0;
    margin-bottom: 10px;
}

.login{
    margin-top: 30px;
    background-color: blue;
    width: auto;
    border-radius: 30px;
    height: 30px;
    margin-bottom: 10px;
    border: 0px;
    outline: 0;
}

.login:hover{
    background-color: white;
    width: auto;
    border-radius: 30px;
    height: 30px;
    margin-bottom: 10px;
    border: 0px;
    outline: 0;
    cursor: pointer;
}

.register{

    background-color: crimson;
    width: auto;
    border-radius: 30px;
    height: 30px;
    margin-bottom: 10px;
    border: 0px;
    outline: 0;
}

.register:hover{ 

    background-color: white;
    width: auto;
    border-radius: 30px;
    height: 30px;
    margin-bottom: 10px;
    border: 0px;
    outline: 0;
    cursor: pointer;
}
